.add-recipe {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .details {
    display: flex;
  }

  & .ingredients {
    display: flex;
    flex-direction: column;

    &--item {
      display: flex;
      flex-direction: row;
    }
  }
}
