@import '../../styles/colors.scss';

.btn {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  color: $white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &--primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &--small {
    font-size: 12px;
    padding: 6px;
  }

  &--large {
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
  }
}

;
