$color-primary: #bf360c;
$color-primary-light: #f9683a;
$color-primary-dark: #870000;
$color-secondary: #64b5f6;
$color-secondary-light: #9be7ff;
$color-secondary-dark: #2286c3;

// Colors
$black: #000000;
$darkBeige: #908f87;
$grayishYellow: #eeede6;
$lightYellow: #fafafa;
$white: #ffffff;

// Semantic Colors
$backgroundColor: $white;
$inverseTextColor: $white;
$textColor: $darkBeige;

// Component Colors
$footerBackgroundColor: $lightYellow;
$footerTextColor: $textColor;
$headerBackgroundColor: $grayishYellow;