@import '../../styles/colors.scss';

.card {
  background-color: $color-primary-light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 400px;
  width: 300px;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &--header {
    color: white;
    position: relative;
    height: 175px;
    cursor: pointer;

    &-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-style: none;
      border-radius: 5px 5px 0 0;
    }

    &-heading {
      padding: .35rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid white;
      line-height: 1.50rem;
    }
  }

  &--content {
    height: 150px;
    color: white;
    padding: 1.25rem;
    line-height: 1.25rem;
    overflow: hidden;
  }

  &--cta {
    display: flex;
    padding: 1.25rem;
    align-items: center;
    height: 75px;
  }
}
